.myframe-menu-area{
  position: relative;
  background-color: #333;
  color:#ccc;
  padding-left: 0px;
  width:200px;
  min-height: 100vh;
  padding-top: 30px;
}

.myframe-menu-area ul{
  padding-left: 0px;
}

.myframe-menu-area .btn:hover{
  color:#ccc;
}
.myframe-menu{
  list-style-type: none;
  vertical-align: top;
}

.myframe-menu ul{
  display: inline;
  list-style-type: none;
}

.myframe-menu li{
  line-height: 3em;
  cursor:pointer;
}

.myframe-menu li div{
  display: inline-block;
  width: 90%;
  padding-left: 16px;
}

.myframe-selectable-item:hover{
  background-color: #555;
}

.myframe-noselect{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select:none;
}

.myframe-menu-icon{
  margin-right: 10px;
}

.myframe-active-indicator{
  float: right;
  color: #ddd;
  margin-right: 0;
  margin-top: 8px;
}